<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Home</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <script src="https://kit.fontawesome.com/7457b5cffa.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header_color">
        <nav class="nav_class">
        <img class="imagen_logo" src="/img/logo-mercado-liebre.svg" alt="logo" width="240px">
        <section class="search">
            <form action="">
                <input type="text" placeholder="Buscar productos, marcas">
            </form>
            <button><i class="fa-solid fa-magnifying-glass fa-lg" style="color: #000000;"></i>
            </button>
        </section>
        <section class="compra_titulo">
            <h1> <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h1>
        </section>
        </nav>
        <ul id="nav1_home">
            <li><a href="/ofertas" style="color:black"> Ofertas </a></li>
            <li><a href="/tiendas-oficiales" style="color:black"> Tiendas Oficiales </a></li>
            <li><a href="/vender" style="color:black"> Vender </a></li>
            <li><a href="/ayuda" style="color:black"> Ayuda</a></li>
        </ul>
        <ul id="nav2_home">
            <li><a href="/crea-cuenta" style="color:black">Creá tu cuenta <i class="fa-regular fa-id-card" style="color: black"></i></a></li>
            <li><a href="/ingresa" style="color:black">Ingresá <i class="fa-solid fa-right-to-bracket" style="color: black"></i></i></a></li>
            <li><a href="/mis-compras" style="color:black">Mis compras <i class="fa-solid fa-basket-shopping" style="color: black"></i></i></i></a></li>
        </ul>
        <div class="burger-menu">
            <i class="fas fa-bars burgerboton"></i>
            </div>
    </header>
    <img class="home_banner" src="/img/img-home-banner.jpg" alt="banner">
    <main>
        <h3 id="seccion_titulo">Basado en tu última visita</h3>
        <div class="contenedor_principal">
        <section class="info_productos">
            <article>
            <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera" width="100%">
            <i class="fa-regular fa-circle" id="circulo"></i>
            <i class="fa-solid fa-truck" id="camion"></i>
            </article>
            <div class="article__productos">
                <h1 class="precio_tec">$6.770</h1> 
                <h3 class="descuento_off">40% off</h3>
                <h2 class="descripcion_abajo">Cafetera Moulinex</h2>
        </section>
        <section class="info_productos">
            <img src="/img/img-macbook-pro-2019.jpg" alt="macbook" width="100%">
            <article>
            <i class="fa-regular fa-circle" id="circulo"></i>
            <i class="fa-solid fa-truck" id="camion"></i>
            </article>
            <div class="article__productos"></div>
            <h1 class="precio_tec">$230.000</h1> 
            <h3 class="descuento_off">20% off</h3>
            <h2 class="descripcion_abajo">MacBook Pro 2019</h2>
        </section>
        <section class="info_productos">
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="samsung" width="100%">
            <article>
            <i class="fa-regular fa-circle" id="circulo"></i>
            <i class="fa-solid fa-truck" id="camion"></i>
        </article>
            <div class="article__productos"></div>
            <h1 class="precio_tec">$70.500</h1> 
            <h3 class="descuento_off">10% off</h3>
            <h2 class="descripcion_abajo">Samsung Galaxy S10</h2>
        </section>
        <section class="info_productos">
            <img src="/img/img-tv-samsung-smart.jpg" alt="samsung" width="100%">
            <article>
            <i class="fa-regular fa-circle" id="circulo"></i>
            <i class="fa-solid fa-truck" id="camion"></i>
        </article>
            <div class="article__productos"></div>
            <h1 class="precio_tec">$23.200</h1> 
            <h3 class="descuento_off">5% off</h3>
            <h2 class="descripcion_abajo">SmartTv Samsung 43"</h2>
        </section>
    </div>
        
        <h3 id="seccion_titulo">Sección de Ofertas</h3>
        <section class="contenedor_principal">
        <section class="info_productos">
            <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera" width="100%">
            <article>
            <i class="fa-regular fa-circle" id="circulo"></i>
            <i class="fa-solid fa-truck" id="camion"></i>
            </article>
            <div class="article__productos"></div>
                <h1 class="precio_tec">$6.770</h1> 
                <h3 class="descuento_off">40% off</h3>
                <h2 class="descripcion_abajo">Cafetera Moulinex</h2>
        </section>
        <section class="info_productos">
            <img src="/img/img-macbook-pro-2019.jpg" alt="macbook" width="100%">
            <article>
            <i class="fa-regular fa-circle" id="circulo"></i>
            <i class="fa-solid fa-truck" id="camion"></i>
            </article>
            <div class="article__productos"></div>
            <h1 class="precio_tec">$230.000</h1> 
            <h3 class="descuento_off">20% off</h3>
            <h2 class="descripcion_abajo">MacBook Pro 2019</h2>
        </section>
        <section class="info_productos">
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="samsung" width="100%">
            <article>
            <i class="fa-regular fa-circle" id="circulo"></i>
            <i class="fa-solid fa-truck" id="camion"></i>
            </article>
            <div class="article__productos"></div>
            <h1 class="precio_tec">$70.500</h1> 
            <h3 class="descuento_off">10% off</h3>
            <h2 class="descripcion_abajo">Samsung Galaxy S10</h2>
        </section>
        <section class="info_productos">
            <img src="/img/img-tv-samsung-smart.jpg" alt="samsung" width="100%">
            <article>
            <i class="fa-regular fa-circle" id="circulo"></i>
            <i class="fa-solid fa-truck" id="camion"></i>
            </article>
            <div class="article__productos"></div>
            <h1 class="precio_tec">$23.200</h1> 
            <h3 class="descuento_off">5% off</h3>
            <h2 class="descripcion_abajo">SmartTv Samsung 43"</h2>
        </section>
        </section>
        </section>
    </main>
    <footer>
        <section class="footer_par">
        <div class="div__footer__home">
            <article>
            <i class="fa-solid fa-credit-card icon__footer"></i>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</>
        </article>
            </div>
        <div class="div__footer__home">
            <article>
            <i class="fa-solid fa-gift icon__footer"></i>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</>
        </article>
            </div>
        <div class="div__footer__home">
            <article>
            <i class="fa-solid fa-user-shield icon__footer"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</>
        </article>
            </div>
        </section>
        <article class="copyright_texto">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</>
        </article>
    </footer>
</body>
</html>