<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu cuenta</title>
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/register.css">
    <script src="https://kit.fontawesome.com/7457b5cffa.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header_color">
        <nav class="nav_class">
        <img class="imagen_logo" src="/img/logo-mercado-liebre.svg" alt="logo" width="240px">
        <section class="search">
            <form action="">
                <input type="text" id="barra_busqueda" placeholder="Buscar productos, marcas">
            </form>
            <button><i class="fa-solid fa-magnifying-glass fa-lg" style="color: #000000;"></i>
            </button>
        </section>
        <section class="compra_titulo">
            <h1> <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h1>
        </section>
        </nav>
        <ul id="nav1_home">
            <li><a href="/ofertas" style="color:black"> Ofertas </a></li>
            <li><a href="/tiendas-oficiales" style="color:black"> Tiendas Oficiales </a></li>
            <li><a href="/vender" style="color:black"> Vender </a></li>
            <li><a href="/ayuda" style="color:black"> Ayuda</a></li>
        </ul>
        <ul id="nav2_home">
            <li><a href="/register" style="color:black">Creá tu cuenta <i class="fa-regular fa-id-card" style="color: black"></i></a></li>
            <li><a href="/login" style="color:black">Ingresá <i class="fa-solid fa-right-to-bracket" style="color: black"></i></i></a></li>
            <li><a href="/mis-compras" style="color:black">Mis compras <i class="fa-solid fa-basket-shopping" style="color: black"></i></i></i></a></li>
        </ul>
        <div class="burger-menu">
            <i class="fas fa-bars burgerboton"></i>
            </div>
    </header>
<main class="main_register">
    <form action="/register" method="post" class="form_general">
    <p>
    <input name="nombre-apellido" id="informacion_dato" placeholder="Nombre y Apellido" required>
    </p>

    <p>
    <input name="nombre-apellido" id="informacion_dato" placeholder="Nombre de usuari@" required>
    </p>

    <p>
    <input name="mail" id="informacion_dato" placeholder="Email" required>
    </p>

    <p class="titulo_nacimiento">
    <label>Fecha de nacimiento</label>
    </p>

    <p>
    <input type="date" name="nacimiento" id="informacion_dato" min="1920-01-01" max="2005-12-31" required>
    </p>

    <p>
    <input name="domicilio" id="informacion__datos" placeholder="Domicilio" required>
    </p>

    <p class="titulo_perfil_usuario">
    <label for="text">Perfil del usuario</label>
    </p>

    <div class="compra_venta_titulo">
    <p>
    <input type="radio" id="comprador_primero" name="usuario" value="Comprador">
    <label for="comprador" id="vendedor_compra_titulo">Comprador</label>
    <input type="radio" id="vendedor_primero" name="usuario" value="Vendedor">
    <label for="vendedor" id="vendedor_compra_titulo">Vendedor</label>
    </p>
    </div>

    <p id="intereses_titulo">
    <label for="text">Intereses</label>
    </p>

    <p>
    <div id="opciones_eleccion">
    <input type="checkbox" name="intereses" value="electro">
    <label for="intereses">Electro</label>
    </div>
    </p>
    <p>
    <div id="opciones_eleccion">
    <input type="checkbox" name="intereses" value="moda">
    <label for="intereses">Moda</label>
    </div>
    </p>
    <p>
    <div id="opciones_eleccion">
    <input type="checkbox" name="intereses" value="hogar">
    <label for="intereses">Hogar</label>
    </div>    
    </p>
    <p>
    <div id="opciones_eleccion">
    <input type="checkbox" name="intereses" value="jugueteria">
    <label for="intereses">Jugueteria</label>
    </p>
    <p>
    <div id="opciones_eleccion">
    <input type="checkbox" name="intereses" value="vida-sana">
    <label for="intereses">Vida Sana</label>
    </div>
    </p>

    <p id="foto_usuario">
    <label>Foto de usuario</label>
    <input type="file" name="imagen" required>
    </p>

    <p>
    <input type="password" name="contraseña" id="informacion_dato" placeholder="Contraseña" required>
    </p>
    <p>
    <input type="password" name="confirmar-contraseña" id="informacion_dato" placeholder="Confirmar contraseña" required>
    </p>

    <a>
    <a href="http://localhost:2000"> <input type="submit" id="enviar_boton" value="Enviar"> </a>
    <a href="http://localhost:2000"> </a><input type="reset" id="borrar_boton" value="Borrar"> </a>
    </p>
</form>
</main>
<footer>
    <section class="footer_par">
    <div class="div__footer__home">
        <article>
        <i class="fa-solid fa-credit-card icon__footer"></i>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</>
    </article>
        </div>
    <div class="div__footer__home">
        <article>
        <i class="fa-solid fa-gift icon__footer"></i>
        <h2>Envío gratis desde $ 2.500</h2>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</>
    </article>
        </div>
    <div class="div__footer__home">
        <article>
        <i class="fa-solid fa-user-shield icon__footer"></i>
        <h2>Seguridad, de principio a fin</h2>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</>
    </article>
        </div>
    </section>
    <article class="copyright_texto">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </article>
</footer>
</body>
</html>