body{
    background-color: #ebebeb;
}
:root{
    --color-celeste: #1259c3;
    --color-azul: #03264c;
    --color-amarillo: #EAC926;
    --color-gris-claro: #ebebeb;
    --color-gris-oscuro: #666;
    --color-verde: #39b54a;
}

ul li a{
    text-decoration: none;
}

*{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}