.imagen_logo{
    margin-top: 16px;
    margin-left: 10px;
}

.header_color{
    background-color: #EAC926;
    padding-bottom: 5%;
    width: 100%;
    background-size: contain;
}

.home_banner{
    width: 100%;
}

.burger-menu{
    display: grid;
    place-content: center;
    background-color: #1259c3;
    width: 10%;
    height: 35px;
    border-radius: 6px 6px 6px 6px;
    margin: 0px auto;
}

.burgerboton{
    color: #ffffff;
    font-size: 20px;
}

.search{
    margin-left: 10px;
    margin-right: 200px;
    margin-top: 10px;
}

.search input{
    width: 160px;
}

.search button{
    width: 22px;
    display: block;
}

.compra_titulo{
    margin-top: 10px;
    font-size: 9.5px;
    text-align: center;
}

.lista_ofertas{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.lista_ofertas li{
    list-style-type: none;
}

#nav1_home{
    text-align: left;
    margin-bottom: 10px;
    display: none;
}

#nav2_home{
    text-align: left;
    margin-bottom: 10px;
    display: none;
}

footer{
    margin-top: 40px;
    background-color: white;
}

#seccion_titulo{
    color: #666;
    font: bold;
    font-size: 30px;
    margin-left: 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icono_camion{
    font-size: 25px;
    color: var(--color-verde);
    margin-top: 10px;
    margin-bottom: 23px;
}

.article__productos{
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.info_productos{
    text-align: center;
    padding: 15px;
    margin: 30px 10px;
    background-color: white;
}

.descuento_off{
    color: var(--color-verde);
    margin-top: 5px;
}

.descripcion_abajo{
    margin-top: 30px;
    color: var(--color-gris-oscuro);
    display: none;
}

.icon__footer{
    color: var(--color-celeste);
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
    width: 100%;
}

.div__footer__home{
    text-align: center;
    justify-content: center;
    color: var(--color-gris-oscuro);
    padding: 10% 0%;
}

.copyright_texto{
    color: var(--color-gris-oscuro);
    margin-top: 30px;
    padding-top: 6%;
    padding-bottom: 5px;
    margin-left: 5px;
}

@media (min-width: 361px){
    #nav1_home{
        display: initial;
        padding-bottom: 20px;
    }
    #nav2_home{
        display: initial;
        padding-bottom: 20px;
    }
    .burger-menu{
        display: none;
    }
    .info_productos{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .descripcion_abajo{
        display: initial;
    }
}