.main_register {
    text-align: center;
    width: 100%;
}

.form_general {
    text-align: left;
    padding: 50px;
    border-radius: 5px;
    width: 100%;
}

#inicio_sesion {
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
}

#enviar_inicio{
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgb(145, 145, 196);
    color: #fff;
    margin-top: 10px;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}

#enviar_inicio:hover{
    background-color: #0022AA;
    color: #fff;
}

@media (min-width: 426px){
    .form_general {
        width: 50%;
    }
}

@media (min-width: 768px){
    #inicio_sesion{
        width: 100%;
    }
}